.Post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
  .PostWrapper {
    padding: 10px;
    .PostTop {
      .PostTopLeft {
        display: flex;
        align-items: center;
        gap:1em;
        .PostProfileImg {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }
        .PostUserName {
          font-size: 15px;
          font-weight: 500;
          margin: 0, 10px;
        }
      }
    }
    .PostCenter {
      margin: 20px 0;
      .PostImage {
        margin-top: 20px;
        width: 100%;
        max-height: 500px;
        object-fit: contain;
      }
    }
    .PostBottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .PostBottomLeft {
        display: flex;
        align-items: center;
        gap: 1em;
      }
      .postBottomRight {
        display: flex;
        align-items: center;
        gap: 1em;
      }
    }
  }
}

.PostTitle{
  display:flex;
  justify-content: center;
}

.RightBar{
  display:flex;
  flex-direction: column;
 border-left: 1px solid #ccc;
  // justify-content: center;
  .RightBarTitle{
    margin-top: 1em;
  }
}
