.RightBar{
    flex:2;
    font-size:25px;
    
    // overflow-y: scroll;
    // direction: rtl;
    .RightBarTitle{
        margin-bottom: 20px;
        display:flex;
        justify-content: center;
    }
}