

.GlobalContainer {
  display: flex;
  height: 100vh;
  .Image {
    background-size: cover;
    background-position: center center;
    background-image: url("../Assets/Portada.jpg");
    flex: 1;
  }
  .ModalLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    .WrapperContainer{
      padding:2em;
      border:0;
      box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    }
    .ant-form-horizontal {
      padding:10px;
      
      border:0;
      box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
      display: flex;
      flex-direction: column;
      // border: 2px solid purple;
      gap: 2em;
    }
    .textContainer{
      display:flex;
      justify-content: space-evenly;
    
    }
  }
}

.TextContainer a{
  color: blue;
}

